node_modules
build
npm-debug.log
.env
.DS_Store

#Integration tests
.next
next-env.d.ts
dist
.astro
_site

# Hugo integration build artifacts
integrations/hugo/renderer/hugo_renderer.wasm
integrations/hugo/hugo-module/static/cc-editable-regions/hugo_renderer.wasm.gz
integrations/hugo/hugo-module/static/cc-editable-regions/runtime.js
test/integrations/hugo/public
.hugo_build.lock
