.container {
	all: initial;
	font-family: var(--ccrt-font-family);

	display: flex;
	background-color: #ffe7ea;
	border-radius: var(--ccve-border-radius);
	padding: var(--ccrt-gap);
	margin: 2px;
	border: 2px solid var(--ccve-color-ruby);
	gap: var(--ccrt-gap);
}

.heading {
	font-size: 1.15em;
	margin-top: 0px;
}

pre {
	margin-bottom: 0;
}

cc-icon {
	--cc-icon-fill: var(--ccve-color-ruby);
}
