<section class="date-display">
	<p>RFC 3339: {{ date | dateToRfc3339 }}</p>
	<p>RFC 822: {{ date | dateToRfc822 }}</p>
	<p>HTML date: {{ date | htmlDateString }}</p>
	<p>Slug: {{ title | slugify }}</p>
</section>
