<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		<script src="/register-components.js" defer></script>
	</head>
	<body>
		<header>
			<a href="/">← back to index</a>
		</header>
		<main>
			<h1>{{ title }}</h1>
			{{ content }}
		</main>
	</body>
</html>
