---

---

<!doctype html>
<html lang="en">
    <head>
        <script>
            import("../../live-editing");
        </script>
    </head>
    <body>
        <h1>Welcome to Astro Starter</h1>
    </body>
</html>
