<div class="shortcodes-demo">
	<span data-year>{% year %}</span>
	<span data-build-time>{% buildTime %}</span>
	<span data-async-greeting>{% asyncGreeting %}</span>
	<span data-disk-size>{% diskSize %}</span>
	<span data-highlight>{% highlight highlightColor %}{{ highlightContent }}{% endhighlight %}</span>
	<span data-box>{% box %}{{ boxContent }}{% endbox %}</span>
	<span data-async-wrap>{% asyncWrap %}{{ wrapContent }}{% endasyncWrap %}</span>
	<span data-disk-wrap>{% diskWrap %}{{ wrapContent }}{% enddiskWrap %}</span>
	<span data-sizer>{% sizer %}</span>
</div>
