{{- /*
  Recursively walks a directory, returning a dict of path -> file contents
  for files matching the extension list.

  Expects: (dict "dir" "layouts/partials" "exts" (slice ".html" ".htm"))

  Note: readDir/readFile operate on the project directory, so templates
  provided by other modules/themes are not visible here. Mount them into the
  project or point params.editable_regions.template_dirs at a local copy.
*/ -}}
{{- $dir := .dir -}}
{{- $exts := .exts -}}
{{- $files := dict -}}
{{- if os.FileExists $dir -}}
  {{- range $entry := readDir $dir -}}
    {{- $path := printf "%s/%s" $dir $entry.Name -}}
    {{- if $entry.IsDir -}}
      {{- $files = merge $files (partial "cc/walk-dir.html" (dict "dir" $path "exts" $exts)) -}}
    {{- else -}}
      {{- $ext := path.Ext $entry.Name | lower -}}
      {{- if in $exts $ext -}}
        {{- $files = merge $files (dict $path (readFile $path)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $files -}}
