{{- $templateDirs := slice -}}

{{- $subDirs := slice "partials" "_default/_markup" "shortcodes" -}}
{{- $prune := slice ".git" "node_modules" "public" "resources" -}}

{{- $deps := .deps -}}
{{- $dir := .dir | default "." -}}
{{- $templateDirs := slice -}}

{{- if os.FileExists $dir -}}
  {{- range $entry := readDir $dir -}}
    {{- if not $entry.IsDir -}}
        {{ continue }}
    {{- end -}}

    {{- $path := path.Join $dir $entry.Name -}}

    {{- $skip := in $prune $entry.Name -}}
    {{- range $dep := $deps -}}
        {{- if strings.HasSuffix $path $dep -}}
            {{- $depTemplateDirs := partial "editable-regions/find-dep-template-dirs" (dict
                "dir" $path
            ) -}}
            {{- $skip = true -}}
            {{- $templateDirs = union $templateDirs $depTemplateDirs -}}
            {{- break -}}
        {{- end -}}
    {{- end -}}

    {{- if $skip -}}
        {{ fmt.Warnf "Skipping %s" $path}}
        {{ continue }}
    {{- end -}}

    {{ fmt.Warnf "Scanning %s for templates" $path}}
    {{- range $subDir := $subDirs -}}
        {{- if os.FileExists (path.Join $path $subDir) -}}
            {{- $templateDirs = $templateDirs | append (path.Join $path $subDir) -}}
        {{- end -}}
    {{- end -}}

    {{- $childTemplateDirs := partial "editable-regions/find-template-dirs" (dict
        "dir" $path
        "deps" $deps
    ) -}}
    {{- $templateDirs = union $templateDirs $childTemplateDirs -}}

    {{ fmt.Warnf "Templates: %s" (debug.Dump $templateDirs) }}
  {{- end -}}
{{- end -}}
{{- return $templateDirs -}}
