@import "./array-item.css";
@import "./text-editable.css";
@import "./component-editable.css";
@import "./image-editable.css";

array-controls,
editable-controls {
    transition: opacity var(--ccve-transition-duration) ease;
}

array-item,
text-editable,
component-editable,
image-editable,
[data-editable='array-item'],
[data-editable='text'],
[data-editable='component'],
[data-editable='image'] {
    transition: outline var(--ccve-transition-duration) ease;

    outline-offset: calc(var(--ccve-editable-outline-width) * -1);
    outline: var(--ccve-editable-outline-width) solid transparent;

    &>array-controls,
    &>editable-controls {
        opacity: 0;
    }

    &.errored {
        outline: none !important;
    }

    &.dragover * {
        opacity: 0.8;
    }
}

.cms-region-highlighted {

    array-item,
    text-editable,
    component-editable,
    image-editable,
    [data-editable='array-item'],
    [data-editable='text'],
    [data-editable='component'],
    [data-editable='image'] {
        outline: var(--ccve-editable-outline-width) solid var(--ccve-color-sol);

        &:hover {
            outline: var(--ccve-editable-outline-width) solid var(--ccve-color-emerald);

            &>array-controls,
            &>editable-controls {
                opacity: 1;
            }
        }
    }
}

.dragging {

    & array-item,
    & text-editable,
    & component-editable,
    & image-editable,
    & [data-editable='array-item'],
    & [data-editable='text'],
    & [data-editable='component'],
    & [data-editable='image'] {
        transition: none;
        outline: none;

        &:hover {
            transition: none;
            outline: none;
        }
    }
}
