snippet-editable {
    cursor: pointer;
    position: relative;

    &[data-cms-snippet-type="block"] {
        display: block;
    }

    &[data-cms-snippet-type="inline"] {
        display: inline-block;
    }
}
